<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <ul> 
        <li> <%= flight.airline %> </li>
        <li> <%= flight.flightNo %> </li> 
        <li> <%= flight.departs %> </li> 
        <li> <%= flight.airport %> </li> 
        </ul>
        <section>
        <form action="/destinations/<%= flight._id %>" method="POST">
              <label>Arrival</label>
              <select name="airport">
              <option value="AUS">AUS</option>
              <option value="DFW">DFW</option>
              <option value="LAX">LAX</option>
              <option value="SFO">SFO</option>
              <option value="SEA">SEA</option>
              </select> <br>
              <label>Arrival time:
              <input type="text" name="arrival">
              </label><br>
              <button type= "submit" >Add Details</button>
            </form>
              <%= flight.destinations.airport %>
              <table>
                <tbody>
                  <% flight.destinations.forEach(destinations => {%>
                    <tr><%= destinations.airport %></tr>
                    <tr><%= destinations.arrival %></tr>
                  <% }); %>
                </tbody>
              </table>

              <%= flight.destinations %>


              <!-- flights -->
        </section>
</body>
</html>